<h2>Statistiques</h2>

<div>

    <div class="statistics">
        <div>
            <p>Total de tournois joués : {{ total_tournaments }}</p>
            <p>Total de tournois gagnés : {{ total_wins_tournaments }}</p>
            <p>Total de tournois perdues : {{ total_loses_tournaments }}</p>
            <p>Elo : {{ elo }}</p>
        </div>

        <div>
            <p>Total de parties jouées : {{ total_games }}</p>
            <p>Total de parties gagnées : {{ total_wins }}</p>
            <p>Total de parties perdues : {{ total_loses }}</p>
            <p class="border-radius">Rank : {{ rank }}</p>
        </div>

        <div>
            <p>Total de parties classées jouées : {{ total_classed_games }}</p>
            <p>Total de parties classées gagnées : {{ total_classed_wins }}</p>
            <p>Total de parties classées perdues : {{ total_classed_loses }}</p>
        </div>
    </div>

    <separator class="separator"></separator>

    <div class="row space-between">
        <h2>Historiques</h2>
        <button class="button row height-fit-content align-self-center  " onclick="importGame()" value="Importer"><img src="/static/icons/import.png" />Importer</button>
    </div>

    <div class="historics">
        <div class="search-games-historic form-control">
            <input type="text" id="search-input-historic" placeholder="Rechercher une partie que vous avez jouée !">
            <div id="user-gamelist"></div>
        </div>

        <div class="games-list">
            <table id="games-historic-table">
                <thead>
                    <tr>
                        <th>Nom de la partie</th>
                        <th>Taille du Goban</th>
                        <th>Méthode de comptage</th>
                        <th>Type d'horloge</th>
                        <th>Handicap</th>
                        <th>Nom du tournoi</th>
                        <th></th>
                        <th></th>
                </thead>
                <tbody id="games-historic-list" hx-post="/search-games-historic" hx-swap="innerHTML" hx-trigger="load">
                </tbody>
            </table>

        </div>
    </div>
</div>