<div class="statistics">
    <div>
        <p>Total de tournois joués : {{ total_tournaments }}</p>
        <p>Total de parties jouées : {{ total_games }}</p>
        <p>Total de parties classées jouées : {{ total_classed_games }}</p>
        <p>Elo : {{ elo }}</p>
    </div>

    <div>
        <p>Total de tournois gagnés : {{ total_wins_tournaments }}</p>
        <p>Total de parties gagnées : {{ total_wins }}</p>
        <p>Total de parties classées gagnées : {{ total_classed_wins }}</p>
        <p class="border-radius">Rank : {{ rank }}</p>
    </div>

    <div>
        <p>Total de tournois perdues : {{ total_loses_tournaments }}</p>
        <p>Total de parties perdues : {{ total_loses }}</p>
        <p>Total de parties classées perdues : {{ total_classed_loses }}</p>
    </div>
</div>