table.go {
    border-collapse: collapse;
    margin: 0 auto;
    border-spacing: 0;
}

table.go > tbody > tr > td {
    width: 5rem;
    height: 5rem;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    padding: 0;
}

table.go > tbody > tr > td::before {
    position: absolute;
    content: '';
    display: block;
    width: 5rem;
    height: 1px;
    background-color: #000;
    margin-top: 2.5rem;
}

table.go > tbody > tr > td:last-child::before {
    width: 2.5rem;
}

table.go > tbody > tr > td:first-child::before {
    width: 2.5rem;
    transform: translate(100%, 0);
}

table.go > tbody > tr > td > .inside {
    width: 100%;
    height: 100%;
}

table.go > tbody > tr > td::after {
    position: absolute;
    content: '';
    display: block;
    width: 1px;
    height: 5rem;
    background-color: #000;
    margin-left: 2.5rem;
    transform: translate(0, -100%);
}

table.go > tbody > tr:first-child > td::after {
    height: 2.5rem;
}

table.go > tbody > tr:last-child > td::after {
    height: 2.5rem;
    transform: translate(0, -200%);
}
