:root {
    --main-color: #cc7f4e;
    --main-color-hover: #b36e42;
    --main-color-light: #f5b38b;
    --gray-color: #ccc;
    --gray-color-hover: #bcbcbc;
    --font: 'Roboto', sans-serif;
    --font-size: 1.2rem;
    --font-color: #000;
    --font-color-alt: #333;
    --font-color-light: #fff;
    --border-radius: 0.5rem;
}

html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: var(--font);
}

.container {
    margin: 0 auto;
    padding: 0 1rem;
}

a.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--main-color);
    color: var(--font-color-light);
    text-decoration: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

a.button:hover {
    background-color: var(--main-color-hover);
}

a.button.gray {
    background-color: var(--gray-color);
    color: var(--font-color);
}

a.button.gray:hover {
    background-color: var(--gray-color-hover);
}

form {
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    border: 1px solid var(--gray-color);
    border-radius: 1rem;
}

.form-control {
    margin: 0 auto;
    margin-bottom: 1rem;
}

.form-control ul {
    margin: 0;
}

.form-control label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-control input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid var(--gray-color);
    border-radius: var(--border-radius);
    transition: all 0.2s ease-in-out;
}

#password_input input {
    width: 85%;
    box-sizing: border-box;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid var(--gray-color);
    border-radius: var(--border-radius);
    transition: all 0.2s ease-in-out;
    position: relative;
    bottom: 20px;
}

.form-control input:focus {
    outline: none;
    border-color: var(--main-color);
}

.form-control input:hover {
    border-color: var(--main-color);
}

input[type="submit"], input[type="button"] {
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--main-color);
    color: #fff;
    text-decoration: none;
    border-radius: var(--border-radius);
    border: none;
}

input[type="submit"]:hover, input[type="button"]:hover {
    background-color: var(--main-color-hover);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.separator {
    height: 1rem;
}

.row > .separator {
    margin: 0 0.5rem;
}

.error {
    padding: 0.5rem 2rem;
    background-color: rgba(255, 0, 0, 0.2);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
}

.success {
    padding: 0.5rem 2rem;
    background-color: rgba(0, 255, 0, 0.2);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
}

.error {
    padding: 0.5rem 2rem;
    background-color: rgba(255, 0, 0, 0.2);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
}

.success {
    padding: 0.5rem 2rem;
    background-color: rgba(0, 255, 0, 0.2);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    height:100%;
    width: 1%;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

.tooltip_icon{
    height: 50px;
    width: 50px;
    
}

.text-danger{
    color: red;
}