:root {
    --main-color: #cc7f4e;
    --main-color-transparent: #cc7e4edd;
    --main-color-hover: #b36e42;
    --main-color-light: #f5b38b;
    --gray-color: #ccc;
    --gray-color-hover: #bcbcbc;
    --font: 'Roboto', sans-serif;
    --font-size: 1.2rem;
    --font-color: #000;
    --font-color-alt: #333;
    --font-color-light: #fff;
    --border-radius: 0.5rem;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

* {
    font-family: var(--font);
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

.container {
    margin: 0 auto;
    padding: 0 1rem;
}

.margin-top {
    margin-top: 2rem;
}

.margin-side {
    margin-left: 1rem;
    margin-right: 1rem;
}

.no-margin {
    margin: 0;
}

h3 {
    margin-bottom: 0.5rem;
}

a.button, button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--main-color);
    color: var(--font-color-light);
    text-decoration: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    align-items: center;
    font-size: 1rem;
}

a.button:has(img), button:has(img) {
    color: var(--font-color);
}

a.button.row, button.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    padding: 0.5rem 1rem;
}

a.button.row > img, button.row > img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

a.button:hover {
    background-color: var(--main-color-hover);
}

a.button.gray {
    background-color: var(--gray-color);
    color: var(--font-color);
}

a.button.gray:hover {
    background-color: var(--gray-color-hover);
}

form {
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    border: 1px solid var(--gray-color);
    border-radius: 1rem;
}

form.max-width {
    max-width: 800px;
}

form.no-border {
    border: none;
}

.form-control {
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 100%;
}

.form-control ul {
    margin: 0;
}

.form-control label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-control input, .form-control textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid var(--gray-color);
    border-radius: var(--border-radius);
    transition: all 0.2s ease-in-out;
}

.form-control textarea {
    resize: none;
}

.form-control input:focus, .form-control textarea:focus {
    outline: none;
    border-color: var(--main-color);
}

.form-control input:hover, .form-control textarea:hover {
    border-color: var(--main-color);
}

.form-control select {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid var(--gray-color);
    border-radius: var(--border-radius);
    transition: all 0.2s ease-in-out;
    background-color: var(--font-color-light);
}

.form-control select:hover, .form-control select:focus {
    outline: none;
    border-color: var(--main-color);
}

input[type="submit"], input[type="button"], button {
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--main-color);
    color: var(--font-color-light);
    text-decoration: none;
    border-radius: var(--border-radius);
    border: none;
    transition: all 0.2s ease-in-out;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--font-color-alt);
    border-radius: 0.5rem;
    height: 0.5rem;  
}

input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -0.25rem; /* Centers thumb on the track */

    background-color: var(--main-color);
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}

input[type="range"]::-moz-range-track {
    background-color: var(--font-color-alt);
    border-radius: 0.5rem;
    height: 0.5rem;
}

input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    margin-top: -0.25rem;

    background-color: var(--main-color);
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}


button.big {
    font-size: 1.25rem;
}

button.secondary {
    background-color: var(--font-color-light);
    color: var(--main-color);
}

button:has(img) {
    color: var(--font-color);
}

input[type="submit"] img, input[type="button"] img, button img, a.button img {
    width: 1.5rem;
    height: 1.5rem;
}

input[type="submit"]:hover, input[type="button"]:hover, button:hover {
    background-color: var(--main-color-hover);
}

button.secondary:hover {
    background-color: var(--main-color-light);
    color: var(--font-color);
}

input[type="submit"]:disabled, input[type="button"]:disabled, button:disabled {
    background-color: var(--gray-color);
    cursor: not-allowed;
}

/* input[type="number"]::-webkit-inner-spin-button {
    opacity: 1;
} */

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.space-between {
    justify-content: space-between;
}

.width-fit-content {
    width: fit-content;
}

.height-fit-content {
    height: fit-content;
}

.width-max-content {
    width: max-content;
}

.height-max-content {
    height: max-content;
}

.width-ineherit {
    width: inherit;
}

.height-inherit {
    height: inherit;
}

.margin-auto {
    margin: auto;
}

.margin-auto-x {
    margin-left: auto;
    margin-right: auto;
}

.margin-auto-y {
    margin-top: auto;
    margin-bottom: auto;
}

@media screen and (max-width: 720px) {
    .row.dynamic-row {
        flex-direction: column;
    }

    .row.dynamic-row-reverse {
        flex-direction: column-reverse;
    }
}

.no-spacing {
    justify-content: left;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

@media screen and (max-width: 720px) {
    .row.mobile-flex-column {
        flex-direction: row-reverse;
    }

    .flex-row.mobile-flex-column {
        flex-direction: row-reverse;
    }

    .flex-column.mobile-flex-reverse {
        flex-direction: column-reverse;
    }

    .row.mobile-flex-direction {
        flex-direction: column;
    }

    .flex-row.mobile-flex-direction {
        flex-direction: column;
    }

    .flex-column.mobile-flex-direction {
        flex-direction: row;
    }

    .mobile-separator {
        height: 1rem;
    }

    .mobile-separator-2 {
        height: 2rem;
    }

    .mobile-separator-3 {
        height: 3rem;
    }

    .mobile-separator-4 {
        height: 4rem;
    }
}

.separator {
    height: 1rem;
}

.separator-2 {
    height: 2rem;
}

.separator-3 {
    height: 3rem;
}

.separator-4 {
    height: 4rem;
}

.row > .separator {
    margin: 0 0.5rem;
}

.align-self-center {
    align-self: center;
}

.error {
    padding: 0.5rem 2rem;
    background-color: #ffcccc;
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
}

.success {
    padding: 0.5rem 2rem;
    background-color: #ccffcc;
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
}


/* Toggle Button */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--main-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--main-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}



/* Notifications */
.notify {  
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.2s;
    justify-content: center;
    padding: 0;
}

.notify, .notify * {
    pointer-events: none;
    z-index: 9999;
}

.notify > div {
    position: fixed;
    width: 70%;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    height: 5rem;
    margin-top: 6rem;
}

.notify ul {
    margin-block: 0;
    margin-inline: 0;
    padding-inline: 0;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
    width: 100%;
    list-style: none;
    transition: all 0.2s;
    height: 100%;
}

.notify ul > li {
    margin: 0;
    padding: 0;
    transition: all 0.2s;
    animation: notify 5s ease-in-out forwards;
    height: 0;
    opacity: 0;
    width: 100%;
}

@keyframes notify {
    0% {
        height: 0;
        opacity: 0;
    }
    4% {
        height: auto;
        opacity: 1;
    }
    96% {
        height: auto;
        opacity: 1;
    }
    100% {
        height: 0;
        opacity: 0;
    }
}

@media screen and (max-width: 720px) {
    .notify > div {
        width: 90%;
    }
}

.duration-picker-input-controls-wrapper .duration-picker {
    text-align: left;
    padding-right: 20px;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    cursor: text;
}

.duration-picker-input-controls-wrapper .scroll-btn {
    text-align: center;
    width: 16px;
    padding: 0 4px;
    border: none;
    cursor: default;
    position: absolute;
}

.duration-picker-input-controls-wrapper .caret {
    width: 0;
    height: 0;
    border-style: solid;
}

.duration-picker-input-controls-wrapper .caret.caret-up {
    border-width: 0 4px 5px 4px;
    border-color: transparent transparent #000 transparent;
}

.duration-picker-input-controls-wrapper .caret.caret-down {
    border-width: 5px 4px 0 4px;
    border-color: #000 transparent transparent transparent;
}

.duration-picker-input-controls-wrapper .controls {
    display: inline-block;
    position: absolute;
    top: 1px;
    padding: 2px 0;
}

.duration-picker-input-controls-wrapper {
    display: inline-block;
    position: relative;
    background: transparent;
    padding: 0;
    box-sizing: border-box;
}

.duration-picker-input-controls-wrapper .controls button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
}

.transition {
    transition: all 0.2s ease-in-out;
}

.hidden {
    transform: scaleY(0);
}

.overflow-auto-x {
    overflow-x: overlay;
    position: sticky;
}

img.pfp {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

div.pfp-fusion > span {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 3rem;
}

div.pfp-fusion > span:not(:first-child) {
    margin-left: -1.5rem;
    -webkit-mask: radial-gradient(circle 1.5rem at 0% 50%, transparent 99%, #fff 100%);
            mask: radial-gradient(circle 1.5rem at 0% 50%, transparent 99%, #fff 100%);
}

div.pfp-fusion > span img.pfp {
    display: block;
}
