.profil {
    margin: auto;
}

form {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    max-width: 100%;  
    box-sizing: border-box;
}

.left {
    margin-left: 10%;
    margin: auto;
}

.right {
    margin-left: 10%;
    margin-right: 10%;
}

.profile-image {
    border: 1px solid gray;
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 5%;
}

#pfp {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Rogner l'image pour la remplir complètement */
    object-position: center center; /* Position de l'image centrée */
}

h2 {
    margin-left: 44%;
}