.upper-section {
    display: flex;
    margin-top: 1.5em;
    margin-left: 15rem;
    margin-right: 15rem;
    justify-content: space-between;
}

.tournois-header-section {
    display: flex;
    flex: 0 0 calc(65% - 10px);
    justify-content:center;
    margin-right: 10px;
}

.button-section {
    display: flex;
    flex: 0 0 calc(35% - 10px);
    justify-content: flex-start;
    margin-left: 10px;
    flex-direction: column;
}

.tournois-header-section img {
    height: 10rem;
    width: 10rem;
}

.tournois-container{
    text-align: center;
    margin-right: 5rem;
}

.button-section a {
    display: flex;
    height: 3.5rem;
    width: 14rem;
    background-color: #cc7f4e;
    color: white;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-decoration: none;
}

.button-section a:hover {
    background-color: #f5b38b;
}

.button-section a:first-child:hover {
    background-color: #edf2f5;
}

.button-section a:first-child {
    background-color: #dfe4e8;
    color: black;
}
/*Table*/
table {
    border: 1px solid transparent;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    border-spacing: 0;
}

table th,
table td {
    border-bottom: 1px solid #000;
    padding: 8px;
    text-align: left;
}

thead {
    background-color: #cc7f4e;
}

tr {
    height: 2.5rem;
}

td {
    margin: 1em;
}

.table-section {
    margin-left: 15rem;
    margin-right: 15rem;
    
}

.table-container {
    overflow: hidden;
    border: 1px solid transparent;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

td {
    text-align: left;
    padding: 8px;
}
tbody tr:nth-child(even) td {
    background-color: #dfe4e8; /* Change to your desired even row color */
}

tbody tr:nth-child(odd) td {
    background-color: #f5b38b; /* Change to your desired odd row color */
}