<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoGoGo • Rejoindre une partie</title>
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/game/join_game.css">
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% include 'reusable/header.html' %}
    <main>
        {% csrf_token %}
        <div class="container" id="game">
            <div>
                <h2>Parties en cours</h2>
                <div id="current-game-list" hx-post="/search-current-game" hx-swap="innerHTML" hx-trigger="load"></div>
            </div>
            <div class="row space-between">
                <h2>Rejoindre une partie</h2>
                <a href="/create-game" class="button height-fit-content align-self-center">Créer une partie</a>
            </div>
            <div>
                <h3 class="no-margin">Par code</h3>
                <form id="join-by-code" class="row">
                    <div class="row form-control">
                        <input type="text" id="search-code-input-0" class="pass-to-next" required minlength="4" maxlength="4">
                        <p class="no-margin center">-</p>
                        <input type="text" id="search-code-input-1" class="pass-to-next" required minlength="4" maxlength="4">
                        <p class="no-margin center">-</p>
                        <input type="text" id="search-code-input-2" class="pass-to-next" required minlength="4" maxlength="4">
                        <p class="no-margin center">-</p>
                        <input type="text" id="search-code-input-3" class="pass-to-next-last" required minlength="4" maxlength="4">
                    </div>
                    <div class="separator"></div>
                    <input type="submit" value="Rejoindre">
                </form>
            </div>
            <div class="form-control">
                <h3>Par nom</h3>
                <input type="text" id="search-input" placeholder="Rechercher une partie">
                <div id="user-datalist"></div>
            </div>
            <div id="game-list" hx-post="/search-game" hx-swap="innerHTML" hx-trigger="load"></div>
        </div>

        <div class="notify" id="notify"></div>
    </main>
    {% include 'reusable/footer.html' %}
    <script src="/static/js/game/join_game.js"></script>
    <script src="/static/js/notify.js"></script>
</body>
</html>