#tree-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.round{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    list-style: none;
    padding: 0;
}
.round .spacer{
    flex-grow: 1;
}
.round .spacer:first-child,
.round .spacer:last-child{
    flex-grow: 0.5;
}

.round .game-spacer{
    flex-grow: 1;
}

li.game{
    padding-left: 20px;
}

li.game.winner{
    background-color: #a5f6a5;
}

li.game.loser{
    background-color: #ff7070;
}

li.game span{
    float: right;
    margin-right: 5px;
}

li.game-top{
    border-bottom: 1px solid #aaa;
    padding: 0.5rem 1rem;
    background-color: var(--main-color-light);
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

li.game-spacer{ 
    border-right: 1px solid #aaa;
    min-height: 40px;
}

li.game-bottom{ 
    border-top: 1px solid #aaa;
    padding: 0.5rem 1rem;
    background-color: var(--main-color-light);
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

li.game-top.no-background{
    background-color: lightgrey;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

li.game-bottom.no-background{
    background-color: lightgrey;
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}