<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoGoGo • Politique de Confidentialité pour le Jeu de Go en Ligne</title>    
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/footer/privacypolicy.css">
    <link rel="shortcut icon" type="image/svg" href="{% static 'icons/favicon.svg' %}" >

</head>
<body>
    {% include 'reusable/header.html' %}
    <section>
        <h1>Politique de Confidentialité</h1>
        <h2>Dernière mise à jour : [11/10/2023]</h2>
    </section>
    <div class="containerP">
        <h2>Collecte d'Informations</h2>
        <p>
            Votre vie privée est importante pour nous. Cette Politique de Confidentialité explique comment nous collectons, utilisons, divulguons et protégeons vos informations personnelles lorsque vous utilisez notre jeu de Go en ligne (GOGOGO). En utilisant le Jeu, vous consentez à la collecte et à l'utilisation de vos informations conformément à cette politique.
        </p>

        <h2>
            Collecte d'Informations
        </h2>
        
        <p>
            Nous pouvons collecter les types d'informations suivants lorsque vous utilisez le Jeu :
        </p>
        
        <h2>
            Informations d'Inscription :
        </h2>
        
        <p>
            Lorsque vous créez un compte, nous pouvons collecter votre nom d'utilisateur, votre adresse e-mail, et d'autres informations nécessaires à votre inscription.
        </p>
        
        <h2>
            Données de Jeu :
        </h2>
        
        <p>
            Collectons des données de jeu, y compris vos scores, vos mouvements et vos activités de jeu.
        </p>

        <h2>
            Informations de Connexion :
        </h2>
        
        <p>
            Nous pouvons collecter des informations sur votre appareil, votre navigateur et votre adresse IP.
        </p>

        <h2>
            Utilisation des Informations
        </h2>
        
        <h3>
            Nous utilisons les informations collectées pour les finalités suivantes :
        </h3>
        
        <h2>
            Fournir le Service :
        </h2>
        <p>
            Nous utilisons vos informations pour vous permettre de jouer au jeu, y compris la gestion de votre compte, l'affichage de votre score et l'amélioration de l'expérience de jeu.
        </p>
        
        <h2>
            Amélioration du Jeu :
        </h2>
        
        <p>
            Nous pouvons utiliser les données collectées pour améliorer le Jeu, corriger des erreurs et optimiser les performances.
        </p>

        <h2>
            Communication :
        </h2>
        
        <p>
            Nous pouvons vous contacter par e-mail pour vous informer des mises à jour, des nouvelles fonctionnalités ou pour répondre à vos demandes.
        </p>
        <h2>
            Partage d'Informations
        </h2>
        
        
        <h3>
            Nous ne partageons pas vos informations personnelles avec des tiers, sauf dans les cas suivants :
        </h3>

        <ul>
            <li>Avec votre consentement.</li>
            <li>Pour répondre aux exigences légales.</li>
            <li>Pour protéger nos droits, notre confidentialité, notre sécurité ou notre propriété, ou ceux d'autres utilisateurs.</li>
        </ul>
        
        
        <h2>
            Sécurité des Données
        </h2>
        
        <p>
            Nous prenons des mesures raisonnables pour protéger vos informations personnelles contre la perte, l'accès non autorisé, la divulgation, l'altération ou la destruction.
        </p>
        
        <h2>
            Droit d'Accès et de Rectification
        </h2>
        
        <p>
            Vous avez le droit d'accéder à vos données personnelles et de demander leur rectification. Pour exercer ces droits, veuillez nous contacter à TeamErable21@gmail.com.
        </p>
        
        <h2>
            Cookies
        </h2>
        
        <p>
            Utilisons des cookies pour améliorer votre expérience de jeu. Vous pouvez désactiver les cookies dans les paramètres de votre navigateur.
        </p> 
        
        <h2>
            Enfants
        </h2>
        
        <p>
            Le Jeu n'est pas destiné aux enfants de moins de 13 ans. Si vous êtes un parent ou un tuteur légal et que vous pensez que votre enfant nous a fourni des informations personnelles, veuillez nous contacter pour que nous puissions supprimer ces informations.
        </p>
        
        <h2>
            Modifications de la Politique de Confidentialité
        </h2>
        
        <p>
            Nous nous réservons le droit de modifier cette Politique de Confidentialité à tout moment. Les modifications seront effectives dès leur publication sur le site.
        </p>
        
        <h2>
            Contact
        </h2>
        
        <p>
            Si vous avez des questions concernant cette Politique de Confidentialité, veuillez nous contacter à TeamErable21@gmail.com.
        </p>
    </div>
    {% include 'reusable/footer.html' %}
</body>
</html>
