<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournois</title>
    <link rel="shortcut icon" type="image/svg" href="{% static 'icons/favicon.svg' %}">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/tournament.css">
</head>
<body>
    {% include 'reusable/header.html' %}
    <section class="description-section">
        <h2>{{ tournament.name }}</h2>
    <div class="top-right-btns">
        {% if not tournament.ongoing or in_tournament %}
            {% if in_tournament %}
                <a class="button gray" id="join-btn">
            {% else %}
                <a href="/tournament-join/{{ tournament.id }}/" class="button" id="join-btn">
            {% endif %}
            {% if in_tournament %}
            Vous participez au tournois
            {% else %}
            <img src="/static/icons/joingame.png">
            Rejoindre le tournois
            {% endif %}
            </a>
        {% endif %}
        <a href="/tournament" class="button gray">🔙 Retour</a>
    </div>
        <p id="desc">
            {{ tournament.description }}
        </p>
        <div id="informations">
            <div >
                <label for="tournament-date-start">Date de debut</label>
                <input type="date" id="tournament-date-start" name="tournament-date-start" value="{{ tournament.start_date|date:'Y-m-d' }}">
                <label for="tournament-date-end">Date de fin</label>
                <input type="date" id="tournament-date-end" name="tournament-date-end" value="{{ tournament.end_date|date:'Y-m-d' }}">
            </div>
            <div >
                <h3>Organisateur</h3>
                <img src="" alt="Icone de profil" />
                <h3>{{organisator.username}}</h3>
            </div>
        </div>
    </section>
    <section id="arbre-section">
        <div class="tournament">
            {% for round in tree %}
            <div class="round">
                {% for match in round %}
                {% if not match.0.1 and not match.1.1 %}
                    <a href="{% url 'game' %}?id={{ match.2.id_game }}">
                {% endif %}
                    <div class="match">
                        <div class="team{% if match.0.1 %} winner{% endif %}">{{ match.0.0.username }}</div>
                        <div class="team{% if match.1.1 %} winner{% endif %}">{{ match.1.0.username }}</div>
                    </div>
                {% if not match.0.1 and not match.1.1 %}
                    </a>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>