<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoGoGo • Modifier un Tournoi</title>
    <link rel="shortcut icon" type="image/svg" href="{% static 'icons/favicon.svg' %}">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/tournament/tournament.css">
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% include 'reusable/header.html' %}
    <main>
        {% csrf_token %}
        <section class="description-section">
            <div class="row space-between">
                <a href="/tournament" class="button gray">🔙 Retour</a>
                {% if tournament_unstarted == true %}
                <div class="row">
                    <a href="/edit-tournament/{{ tournament.id }}/" class="button row"><img src="/static/icons/edit.png">Modifier le tournoi</a>
                    <div class="separator"></div>
                    <a href="/delete-tournament/{{ tournament.id }}/" class="button row"><img src="/static/icons/delete.png">Supprimer le tournoi</a>
                </div>
                {% endif %}
            </div>
            <div class="separator"></div>
            <div class="row space-between">
                <h2>{{ tournament.name }}</h2>
                {% if not tournament.ongoing or in_tournament %}
                    {% if in_tournament %}
                        <button class="button height-fit-content" disabled>Vous participez au tournoi</button>
                    {% else %}
                        <a hx-get="/tournament-join/{{ tournament.id }}/" hx-trigger="click" hx-swap="replace" hx-target="" hx-indicator="true" class="button row height-fit-content">
                            <img src="/static/icons/joingame.png">
                            Rejoindre le tournoi
                        </a>
                    {% endif %}
                {% endif %}
            </div>

            <p id="desc">
                {{ tournament.description }}
            </p>
            <div id="informations">
                <div class="form-control">
                    <label for="tournament-date-start">Date de début</label>
                    <input type="date" id="tournament-date-start" name="tournament-date-start" value="{{ tournament.start_date|date:'Y-m-d' }}" disabled>
                </div>
                <div class="form-control">
                    <label for="tournament-date-end">Date de fin</label>
                    <input type="date" id="tournament-date-end" name="tournament-date-end" value="{{ tournament.end_date|date:'Y-m-d' }}" disabled>
                </div>
                <div>
                    <h3>Organisateur</h3>
                    <div class="row profile">
                        <img src="/header-pfp" alt="Icône de profil" class="pfp" />
                        <p>{{organisator.username}}</p>
                    </div>
                </div>
            </div>
            <div id="players">
                <h3>Joueurs</h3>
                <div id="players-list" class="container" hx-get="/tournament-player-list?id={{ tournament.id }}" hx-swap="innerHTML" hx-trigger="load"></div>
            </div>
        </section>
        <section id="arbre-section">
            <div class="tournament">
                {% for round in tree %}
                <div class="round">
                    {% for match in round %}
                    {% if not match.0.1 and not match.1.1 and match.2.id_game %}
                    <a href="{% url 'game' %}?id={{ match.2.id_game }}">
                        {% endif %}
                        <div class="match">
                            <div class="team{% if match.0.1 %} winner{% endif %}">{{ match.0.0.username }}</div>
                            <div class="team{% if match.1.1 %} winner{% endif %}">{{ match.1.0.username }}</div>
                        </div>
                        {% if not match.0.1 and not match.1.1 %}
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
    {% include 'reusable/footer.html' %}
    <script src="/static/js/global.js"></script>
</body>
</html>