<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournois</title>
    <link rel="shortcut icon" type="image/svg" href="{% static 'icons/favicon.svg' %}">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/tournament.css">
</head>
<body>
    {% include 'reusable/header.html' %}
    <section class="description-section">
        <h2>{{ tournament.name }}</h2>
        <div class="top-right-btns">
            <a href="/tournament_join" class="button" id="join-btn"><img src="/static/icons/joingame.png">Rejoindre le tournois</a>
            <a href="/tournament" class="button gray">🔙 Retour</a>
        </div>
        <p id="desc">
            {{ tournament.description }}
        </p>
        <div id="informations">
            <div >
                <label for="tournament-date-start">Date de debut</label>
                <input type="date" id="tournament-date-start" name="tournament-date-start" value="{{ tournament.start_date|date:'Y-m-d' }}">
                <label for="tournament-date-end">Date de fin</label>
                <input type="date" id="tournament-date-end" name="tournament-date-end" value="{{ tournament.end_date|date:'Y-m-d' }}">
            </div>
            <div >
                <h3>Organisateur</h3>
                <img src="" alt="Icone de profil" />
                <h3>{{organisator.username}}</h3>
            </div>
        </div>
    </section>
    <section id="arbre-section">
        <div class="tournament">
            {% for round in tree %}
            <div class="round">
                {% for match in round %}
                {% if not match.0.1 and not match.1.1 %}
                <a href="{% url 'tournament_game' 1 2 %}">
                    {% endif %}
                    <div class="match">
                        {% for team in match %}
                        <div class="team{% if team.1 %} winner{% endif %}">{{ team.0.username }}</div>
                        {% endfor %}
                    </div>
                    {% if not match.0.1 and not match.1.1 %}
                </a>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>



    </section>
</body>
</html>