<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoGoGo • Partie</title>
    <link rel="shortcut icon" type="image/svg" href="{% static 'icons/favicon.svg' %}" >
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/game/game.css">
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% include 'reusable/header.html' %}
    {% include 'reusable/notify.html' %}

    <main>
        {% csrf_token %}
        <input type="text" id="game-save-id" value="{{ id }}" hidden>

        <div class="separator-2"></div>

        <div class="flex flex-column mobile-flex-reverse">
            <div class="flex flex-row row mobile-flex-direction">
                {{ player1_html | safe }}

                <div class="mobile-separator"></div>
    
                {{ player2_html | safe }}
            </div>
    
            <div class="separator"></div>
            <div class="mobile-separator"></div>
    
            <div>
                <div class="overflow-auto-x margin-bottom">
                    <div class="width-max-content margin-auto-x">
                        <table class="board {{ can_play }}" cellspacing="0">
                            {% for row in board %}
                            <tr>
                                {% for cell in row %}
                                <td class="cell">
                                    <div class="inside">
                                        <div class="stone {{ cell.tile }}" x="{{ cell.x }}" y="{{ cell.y }}"></div>
                                    </div>
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>

                <div class="center row">
                    <div class="center transition {{ action_buttons_class }}" id="action-buttons">
                        <div class="row width-fit-content">
                            {% comment %} <button class="margin-side" id="skip-button">Passer le Tour</button>
                            <button class="margin-side" id="give-up-button">Déclarer Forfait</button> {% endcomment %}
                        </div>
                    </div>
                    {% comment %} <div class="margin-side row">
                        <button id="pause-button">Mettre en pause</button>
                        <p id="pause-count" class="no-margin"><span id="span-pause-count">{{ pause_count }}</span> / 2</p>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>

        <div class="separator"></div>
    </main>

    <script src="/static/js/watch_game/watch_game.js"></script>
    <script src="/static/js/global.js"></script>
    <script src="/static/js/watch_game/timer.js"></script>
</body>
</html>
