<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter des amis</title>
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/friends.css">
</head>
<body>
    <header>
        <h1>Menu d'ajout d'amis</h1>
    </header>
    <div class="container"> 
        <div class="form-control">
            {% if error %}
            <div class="error">
                <p>{{ error }}</p>
            </div>
            {% endif %}
            <div class="separator"></div>
            <a href="/friends" class="button gray">🔙 Retour</a>
            <div class="separator"></div>
            <label>
                <input type="text" placeholder="Nom de l'ami">
                <div class="separator"></div>
                <a href="/addfriends" class="button">➕ Ajouter un ami</a>
            </label>
            <label>
                
            </label>
        </div>
    </div>
    
    
</body>
</html>