<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoGoGo</title>
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/friends.css">
</head>
</head>
<body>
    <header>
        <h1>Menu des amis</h1>
    </header>
    <nav>
        <ul>
            <a href="/login" class="button">🏠 Accueil</a>
            <a href="/addfriends" class="button">➖ Ajouter un ami</a>
            <a href="/delfriends" class="button">➕ Supprimer un ami</a>
        </ul>
    </nav>
    
</body>
</html>