<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoGoGo • Présentation de l'Équipe</title>
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/help.css">
    <link rel="shortcut icon" type="image/svg" href="{% static 'icons/favicon.svg' %}" >
    
</head>
<body>
    {% include 'reusable/header.html' %}
    <section>
        <h1><u>Lien d'Aide :</u></h1>
    </section>
    <div class="containerP">
        <fieldset class="help">
            <legend>Règles du Jeu :</legend>
            <p>Comment jouer au <a href="https://jeudego.org/_php/regleGo.php"> Jeux de Go</a></p>
        </fieldset>
        <fieldset class="help">
            <legend>Tutoriels et Cours en Ligne :</legend>
            <p>Cours en ligne <a href="https://www.usgo.org/content.aspx?page_id=22&club_id=454497&module_id=550339">Usgo</a></p>
            <p>Cour en ligne <a href="https://senseis.xmp.net/?PagesForBeginners">Senseis</a></p>
        </fieldset>
        <fieldset class="help">
            <legend>Livre et Ressources :</legend>
            <p>Livre de<a href="https://senseis.xmp.net/?GoodBooks"> Senseis</a></p>
            <p>Ressource de la<a href="http://www.britgo.org/learn/"> British go Association</a></p>

        </fieldset>
        
        <fieldset class="help">
            <legend>Où jouer ?</legend>
            <p>Click <a href="creategame">ici</a> pour créer ta partie et jouer !</p>
        </fieldset>
    </div>
    {% include 'reusable/footer.html' %}
</body>
</html>