<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L'Histoire de TeamErable et de GOGOGO</title>
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/history.css">
    <link rel="shortcut icon" type="image/svg" href="{% static 'icons/favicon.svg' %}" >
</head>
<body>
    {% include 'reusable/header.html' %}
    <section>
        <h1>L'épopée de TeamErable : L'Histoire de GOGOGO</h1>
    </section>
    <div class="containerP">
        <p>Au cœur d'une petite ville, une équipe de développeurs passionnés par l'art de la création de jeux s'est unie. Ils ont fusionné leurs compétences et leur amour pour le jeu de Go, un jeu de stratégie millénaire, pour donner vie à une entreprise : TeamErable.</p>

        <p>TeamErable a vu le jour comme une start-up, nichée dans un garage, avec une poignée de passionnés ayant pour mission de moderniser et de démocratiser le jeu de Go. Leur vision était de créer un jeu en ligne de haute qualité qui séduirait des joueurs du monde entier, tout en célébrant ce jeu stratégique ancestral.</p>

        <p>Les débuts étaient modestes, mais l'équipe était inébranlable. Ils ont passé des nuits blanches à coder, à concevoir des graphismes et à élaborer des stratégies pour offrir la meilleure expérience possible. Chaque ligne de code était comme un coup de pierre sur le plateau de Go, contribuant à la création de quelque chose d'extraordinaire.</p>

        <p>Après des mois de travail acharné, le jour est enfin arrivé. TeamErable a lancé GOGOGO, un jeu de Go en ligne qui a conquis le cœur des joueurs du monde entier.</p>
        

        <p>
            Les graphismes étaient à couper le souffle, l'interface était conviviale, et la jouabilité était inégalée. Les utilisateurs pouvaient jouer contre d'autres joueurs du monde entier, apprendre de nouvelles stratégies et améliorer leurs compétences.
        </p>

        <p>
            Le succès de GOGOGO a propulsé TeamErable sur la scène mondiale. Ils ont continué à développer de nouvelles fonctionnalités, à organiser des tournois passionnants et à écouter les commentaires de leurs joueurs. Leur jeu est devenu un lieu de rencontre pour la communauté mondiale des joueurs de Go, un endroit où l'amour du jeu prévalait. 
        </p>
        
        <p>
            TeamErable a grandi au fil des ans, mais ils n'ont jamais oublié leurs racines modestes. Ils sont restés fidèles à leur mission de faire revivre le jeu de Go et de le partager avec le monde entier. Chaque membre de l'équipe continue à apporter son expertise et sa passion au service de leur entreprise et de leur jeu.
        </p>

        <p>
            Aujourd'hui, TeamErable est une entreprise florissante, mais ils continuent à innover et à évoluer. Leur histoire est celle d'une équipe de développeurs qui a transformé leur amour du jeu en une expérience de jeu en ligne exceptionnelle, apportant du plaisir, de la stratégie et du partage à des millions de joueurs du monde entier. Et leur voyage continue, car ils sont convaincus que l'histoire de GOGOGO est loin d'être terminée.
        </p>
    </div>
    {% include 'reusable/footer.html' %}
</body>
</html>