<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mention Légale pour le Jeu de Go en Ligne</title>  
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/legalmention.css">

</head>
<body>
    {% include 'reusable/header.html' %}
    <section>
        <h1>Mention Légale</h1>
        <h2>Dernière mise à jour : [11/10/2023]</h2>
    </section>
    <div class="containerP">
        <h3>Bienvenue sur le jeu de Go en ligne (ci-après dénommé "le Jeu"). Ce jeu est exploité par [Nom de la société ou de l'entité].</h3>
        <h2>1. Propriété du Site Web</h2>
        <p>Le site web du Jeu est la propriété de [Nom de la société ou de l'entité]. Vous pouvez nous contacter à l'adresse suivante : TeamErable21@gmail.com.</p>

        <h2>2. Propriété Intellectuelle</h2>
        <p>Le contenu du Jeu, y compris mais sans s'y limiter, les graphismes, les images, le texte, les logos et le code source, est la propriété de [Nom de la société ou de l'entité] et est protégé par les lois sur les droits d'auteur et les marques déposées.</p>

        <h2>
            3. Responsabilité
        </h2>

        <p>
            Nous nous efforçons de fournir des informations précises et à jour, mais nous ne pouvons garantir l'exactitude, l'exhaustivité ou la pertinence de ces informations. [Nom de la société ou de l'entité] ne peut en aucun cas être tenu responsable des dommages directs, indirects, spéciaux, consécutifs ou punitifs résultant de l'utilisation du Jeu.
        </p>

        <h2>4. Liens Externes</h2>

        <p> Le Jeu peut contenir des liens vers des sites web tiers. [Nom de la société ou de l'entité] n'est pas responsable du contenu ou de la politique de confidentialité de ces sites web.</p>

        <h2>5. Loi Applicable</h2>

        <p>Cette Mention Légale est régie par les lois en vigueur dans [Votre juridiction], et tout litige sera soumis à la juridiction exclusive des tribunaux de cette juridiction.</p>

        <h2>6. Modifications de la Mention Légale</h2>

        <p>Nous nous réservons le droit de modifier cette Mention Légale à tout moment. Les modifications seront effectives dès leur publication sur le site.</p>

        <h2>Contact</h2>

        <p>Si vous avez des questions concernant cette Mention Légale, veuillez nous contacter à l'adresse suivante : [Adresse de contact].
        </p>

    </div>
    {% include 'reusable/footer.html' %}
</body>
</html>