<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoGoGo • Se Connecter</title>
    <link rel="shortcut icon" type="image/svg" href="{% static 'icons/favicon.svg' %}" >
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <div class="container">
        <div class="login">
            {% if error %}
            <div class="error">
                <p>{{ error }}</p>
            </div>
            {% endif %}
            <form action="/login" method="post">
                {% csrf_token %}
                <h2>Se Connecter</h2>
                <div class="form-control">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>
                <div class="form-control">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                </div>
                <a href="/forgotten-password">Mot de passe oublié</a>
                <div class="separator"></div>
                <div class="form-control">
                    <div class="row">
                        <a href="/register" class="button gray">S'inscrire</a>
                        <div class="separator"></div>
                        <input type="submit" value="Se connecter">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
