<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoGoGo • Se Connecter</title>
    <link rel="shortcut icon" type="image/svg" href="{% static 'icons/favicon.svg' %}" >
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <div class="container">
        <div class="login">
            <form onsubmit="return validateForm()">
                {% csrf_token %}
                <h2>Se Connecter</h2>
                <div class="form-control">
                    <div class="form-control">
                        <label for="username">Nom d'Utilisateur</label>
                        <input type="text" name="username" id="username" required>
                    </div>
                </div>
                <div class="form-control">
                    <label for="password">Mot de Passe</label>
                    <input type="password" name="password" id="password" required maxlength="18" minlength="8">
                </div>
                <div class="separator"></div>
                <div class="form-control">
                    <input type="submit" value="Se connecter">
                    <div class="separator"></div>
                    <div class="row">
                        <a href="/register" class="button gray">S'inscrire</a>
                        <a href="/forgotten-password" class="button gray">Mot de passe oublié</a>
                    </div>
                </div>
            </form>
        </div>

        <div class="notify" id="notify"></div>
    </div>

    <script src="/static/js/login.js"></script>
    <script src="/static/js/notify.js"></script>
</body>
</html>
