<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/svg" href="{% static 'icons/favicon.svg' %}">
    <link rel="stylesheet" href="static/css/global.css">
    <link rel="stylesheet" href="static/css/forgottenpass.css">
    <title>GoGoGo</title>
</head>
<body>
    <div class="confirmation-container">
        <h2>Un email de confirmation vous a ete envoye</h2>
        <p>
            Nous avons bien pris en compte votre demande.
            Pour continuer, veuillez verifier votre boite de reception mail.
            En cliquant sur le lien de confirmation, vous pourrez finaliser le processus
            de recuperation de mot de passe.
            Si vous ne recevez pas l'email d'ici quelques minutes, verifiez vos
            courriers indesirables ou de promotions.
        </p>
    </div>
    <img src="/static/icons/favicon.svg">
</body>
</html>
