<!DOCTYPE html>
<html lang="fr">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GoGoGo</title>
        <link rel="shortcut icon" type="image/svg" href="{% static 'icons/favicon.svg' %}" >
        <link rel="stylesheet" href="/static/css/global.css">
        <link rel="stylesheet" href="/static/css/profil.css">
        <link rel="stylesheet" href="/static/css/signup.css">
    </head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% include 'reusable/header.html' %}
    <main>
        {% csrf_token %}
        <div class="container align-row">
            <div class="sidebar">
                <div class="sidebar-item">
                    <a href="#" activate="#info" class="sidebar-link active">Profil Publique</a>
                </div>
                <div class="sidebar-item">
                    <a href="#" activate="#security" class="sidebar-link">Sécurité</a>
                </div>
                <div class="sidebar-item">
                    <a href="#" activate="#friends" class="sidebar-link">Amis</a>
                </div>
                <div class="sidebar-item">
                    <a href="#" activate="#stats" class="sidebar-link">Statistiques</a>
                </div>
            </div>

            <div class="content">
                <section id="info" class="active">
                    <h2>Profil Publique</h2>
                    <div class="row dynamic-row-reverse no-spacing">
                        <form hx-post="/change-user-info" hx-trigger="submit" hx-target="#notify" hx-swap="innerHTML">
                            <div class="form-control">
                                <label for="username">Nom d'utilisateur</label>
                                <input type="text" name="username" id="username" value="{{ user.username }}" required>
                            </div>
                            <div class="form-control">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" value="{{ user.email }}" required>
                            </div>

                            <div class="separator"></div>

                            <div class="form-control">
                                <input type="submit" value="Enregistrer">
                            </div>
                        </form>

                        <div class="center">
                            <div class="avatar-wrapper" id="pfp">
                                <img class="profile-pic" src="/header-pfp" />
                                <div class="upload-button"></div>
                                <input class="file-upload" type="file" accept="image/*" hidden/>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="security">
                    <h2>Sécurité</h2>
                    <form id="change-pwd">
                        <div class="form-control">
                            <label for="old-pwd">Ancien mot de passe</label>
                            <input type="password" name="old-pwd" id="old-pwd" required>
                        </div>
                        <div class="form-control" id="password_input">
                            <div>
                                <label for="new-pwd">Nouveau mot de passe</label>
                                <input type="password" name="new-pwd" id="new-pwd" required>
                            </div>
                            <div class="tooltip">
                                <img src="static/icons/tooltip.png" class="tooltip_icon">
                                <span class="tooltiptext">Votre mot de passe doit contenir au moins 8 caractères.</span>
                            </div>
                        </div>
                        <div class="form-control">
                            <label for="new-pwd-confirm">Confirmer le nouveau mot de passe</label>
                            <input type="password" name="new-pwd-confirm" id="new-pwd-confirm" required>
                        </div>
                        <div class="separator"></div>
                        <div class="form-control">
                            <input type="submit" value="Enregistrer">
                        </div>
                    </form>
                </section>

                <section id="friends">
                    <h2>Amis</h2>
                </section>

                <section id="stats">
                    <h2>Statistiques</h2>
                </section>
            </div>
        </div>

        <div class="notify" id="notify"></div>
    </main>

    <script src="/static/js/profil.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
</body>
</html>