<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Présentation de l'Équipe</title>
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/team.css">
    <link rel="shortcut icon" type="image/svg" href="{% static 'icons/favicon.svg' %}" >
    
</head>
<body>
    {% include 'reusable/header.html' %}
    <section>
        <h1>Notre Équipe</h1>
    </section>
    <div class="containerP">
        <fieldset class="team-member">
            <legend>***REMOVED*** ***REMOVED***</legend>
            <p><strong>Rôle :</strong> Chef de Projet, Développeur</p>
            <p><strong>Compétences :</strong> Gestion de projet, planification, manager une équipe, communication interne et externe.</p>
            <p><strong>Expérience :</strong> 6 ans d'expérience en administration de bases de données.</strong></p>
            <p>Une brève description du membre de l'équipe, de son expérience et de son rôle au sein de l'entreprise.</p>
        </fieldset>

        <fieldset class="team-member">
            <legend>***REMOVED*** ***REMOVED***</legend>
            <p><strong>Rôle :</strong> Designer UI/UX, Développeur</p>
            <p><strong>Compétences :</strong> Programmation Python, conception d’interfaces utilisateur.</p>
            <p><strong>Expérience : </strong> 5 ans de développement d'applications Python, 2 ans dans la conception d'interfaces utilisateur conviviales.</p>
        </fieldset>
        
        <fieldset class="team-member">
            <legend>***REMOVED*** ***REMOVED***</legend>
            <p><strong>Rôle :</strong> Développeur</p>
            <p><strong>Compétences :</strong> Programmation C# et C++, développement web (HTML, CSS, JavaScript, PHP).</p>
            <p><strong>Expérience : </strong> 4 ans en développement logiciel et application web.</p>
        </fieldset>

        <fieldset class="team-member">
            <legend>***REMOVED*** ***REMOVED***</legend>
            <p><strong>Rôle :</strong> Administrateur Réseau, Développeur</p>
            <p><strong>Compétences :</strong> Gestion des réseaux, sécurité informatique, développement de logiciels en C#.</p>
            <p><strong>Expérience : </strong> 2 ans d'expérience en administration réseau et développement logiciel.</p>
        </fieldset>
    </div>
    {% include 'reusable/footer.html' %}
</body>
</html>