<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditions d'Utilisation pour le Jeu de Go en Ligne</title>
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/termsofuse.css">
    <link rel="shortcut icon" type="image/svg" href="{% static 'icons/favicon.svg' %}" >
    
</head>
<body>
    {% include 'reusable/header.html' %}
    <section>
        <h1>Conditions d'Utilisation</h1>
        <h2>Dernière mise à jour : [11/10/2023]</h2>
    </section>
    <div class="containerP">
        <h2>Veuillez lire attentivement ces Conditions d'Utilisation avant d'utiliser le jeu de go en ligne. En utilisant le Jeu GOGOGO, vous acceptez ces conditions et vous vous engagez à les respecter. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser le Jeu.</h2>

        <h2>1. Acceptation des Conditions</h2>

        <p>
            1.1. En accédant et en utilisant le Jeu de Go, vous acceptez d'être lié par ces Conditions d'Utilisation.<br/>

            1.2. Si vous avez moins de 18 ans, vous devez obtenir le consentement de vos parents ou de votre tuteur légal pour utiliser le Jeu.
        </p>

        <h2>
            2. Licence d'Utilisation
        </h2>

        <p>
            2.1. Sous réserve du respect de ces Conditions d'Utilisation, nous vous accordons une licence non exclusive, révocable, non transférable pour accéder et utiliser le Jeu uniquement à des fins personnelles et non commerciales.<br/>

            2.2. Vous ne pouvez pas reproduire, distribuer, modifier, afficher, créer des œuvres dérivées, ou exploiter de quelque manière que ce soit le Jeu sans notre autorisation préalable.
        </p>

        <h2>
            3. Compte Utilisateur
        </h2>

        <p>
            3.1. Pour accéder à certaines fonctionnalités du Jeu, vous devrez peut-être créer un compte utilisateur. Vous êtes responsable de la confidentialité de votre compte et de vos informations d'identification.<br/>

            3.2. Vous acceptez de nous informer immédiatement de toute utilisation non autorisée de votre compte.
        </p>

        <h2> 
           4. Contenu Utilisateur
        </h2>

        <p>
            4.1. Vous pouvez soumettre des commentaires, des contributions, des messages ou d'autres contenus ("Contenu Utilisateur") dans le cadre de l'utilisation du Jeu. Vous êtes seul responsable du Contenu Utilisateur que vous soumettez.<br/>

            4.2. Vous garantissez que votre Contenu Utilisateur ne viole aucun droit d'auteur, marque déposée, confidentialité, publicité, ou autre droit de toute tierce partie, et qu'il est conforme aux lois applicables.
        </p>
        
        <h2>
            5. Restrictions
        </h2>

        <p>
            5.1. Vous vous engagez à ne pas utiliser le Jeu de manière à violer les lois locales, nationales ou internationales.<br/>

            5.2. Vous ne pouvez pas interférer avec le fonctionnement du Jeu ou perturber son accès.<br/>
    
            5.3. Vous ne pouvez pas collecter des informations sur d'autres utilisateurs sans leur consentement.
        </p>
        
        <h2>
            6. Modifications des Conditions d'Utilisation
        </h2>

        <p>
            6.1. Nous nous réservons le droit de modifier ces Conditions d'Utilisation à tout moment. Les modifications seront effectives dès leur publication sur le site.
        </p>

        <h2> 
            7. Résiliation
        </h2>

        <p>
            7.1. Nous pouvons résilier ou suspendre votre accès au Jeu à tout moment, avec ou sans motif, et sans préavis.
        </p>

        <h2>
            8. Responsabilité
        </h2>

        <p>
            8.1. Vous utilisez le Jeu à vos propres risques. Nous ne sommes pas responsables des dommages directs, indirects, spéciaux ou consécutifs résultant de l'utilisation ou de l'incapacité à utiliser le Jeu.
        </p>

        <h2>
            9. Droit Applicable
        </h2>

        <p>
            9.1. Ces Conditions d'Utilisation sont régies par les lois en vigueur <u>de la République Française</u> et tout litige sera soumis à la juridiction exclusive des tribunaux de cette juridiction.
        </p>



        <h2>9. Droit Applicable</h2>
        <p>9.1. Ces Conditions d'Utilisation sont régies par les lois en vigueur <u> de la République Française</u> et tout litige sera soumis à la juridiction exclusive des tribunaux de cette juridiction.</p>
    </div>
    {% include 'reusable/footer.html' %}
</body>
</html>