<footer>
    <link rel="stylesheet" href="/static/css/footer.css">
    <div class="container">
        <div class="row">
            <div class="item">
                <h3>Ressources</h3>
                <ul>
                    <li><a href="aide">Aide</a></li>
                </ul>
            </div>
            <div class="item">
                <h3>A Propos</h3>
                <ul>
                    <li><a href="history">Histoire</a></li>
                    <li><a href="team">Équipe</a></li>
                </ul>
            </div>
            <div class="item">
                <h3>Légal</h3>
                <ul>
                    <li><a href="termsofuse">Conditions d'Utilisation</a></li>
                    <li><a href="privacypolicy">Politique de Confidentialité</a></li>
                    <li><a href="legalmention">Mentions Légales</a></li>
                </ul>
            </div>
            <div class="item social">
                {% comment %} <a href="#"><img src=""></img></a> {% endcomment %}
                <p class="copyright">Team Érable © 2023</p>
            </div>
        </div>
    </div>
</header>