<div id="container-{{ color }}-player">
    <div class="row stone-fixed">
        {% if player != None %}
            <div>
                <img class="pfp" src="/get-pfp?id={{ player.id }}" alt="">
                <div class="little-stone {{ color }}"></div>
            </div>
            <div class="name-container">
                <p class="name">{{ player.username }}</p>
                <p class="timer" id="timer-{{ color }}">{{ timer }}</p>
            </div>
            
        {% else %}
            <div>
                <img class="pfp" src="/static/icons/profile.png" alt="">
                <div class="little-stone {{ color }}"></div>
            </div>
            <div class="name-container">
                <p class="name">???</p>
                <p class="timer" id="timer-{{ color }}">{{ timer }}</p>
            </div>
            
        {% endif %}
        
    </div>
    <div class="separator"></div>
    <div class="row score-group">
        <div class="little-stone {{ other_color }}"></div>
        <p class="score {{ color }}">{{ score }}</p>
    </div>
</div>