<ul class="game-list">
    {% if not games %}
    <div class="row">
        <p>{{ error }}</p>
    </div>
    {% endif %}
    {% for game in games %}
    <li>
        <div class="row">
            <div class="row">
                <img src="get-pfp?id={{game.game_participate.player1.id}}" alt="profile picture" class="pfp">
                <p>{{ game.name }}</p>
                <p class="description">{{ game.description }}</p>
            </div>
            <a class="join-game button" href="/game?id={{ game.id_game }}"><img src="/static/icons/joingame.png" />Rejoindre</a>
        </div>
    </li>
    {% endfor %}
</ul>