<ul class="game-list">
    {% if not games %}
    <div class="row">
        <p>Aucune partie n'est disponible pour le moment ou correspond à vos critères de recherche.</p>
    </div>
    {% endif %}
    {% for game in games %}
    <li>
        <div class="row">
            <div class="row">
                <!-- <img src="{{current_user.profile_picture}}" alt="profile picture" class="pfp"> -->
                <p>{{ game.nom }}</p>
                <p class="description">{{ game.description }}</p>
            </div>
            <a class="join-game button" href="/game?id={{ game.idPartie }}"><img src="/static/icons/joingame.png" />Rejoindre</a>
        </div>
    </li>
    {% endfor %}
</ul>