<header>
    <link rel="stylesheet" href="/static/css/header.css">
    <div class="page-wrapper">
        <div class="nav-wrapper">
            <div class="grad-bar"></div>
            <nav class="navbar">
                <img src="" alt="Logo de GoGoGo">
                <div class="menu-toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="nav mobile-ul">
                    <li class="nav-item"><a href="#">Acceuil</a></li>
                    <li class="nav-item"><a href="#">Créer une partie</a></li>
                    <li class="nav-item"><a href="#">Rejoindre une partie</a></li>
                    <li class="nav-item"><a href="#" class="pfp"><img src="" alt="Icône de profil"></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <script src="/static/js/header.js"></script>
</header>