/* Styles pour les boutons de la barre de navigation */
.navbar-select {
    margin-top: 25px;
    margin-left: 25px;
    display: inline-flex;
    position: absolute;
    top: 5em;
    right: 5em;
}

.navbar-link {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 5px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 25px;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 5em;
    height: 1.8em;
    text-align: center;
}

.navbar-link:hover {
    background-color: #cc7f4e;
    color: #fff;
}

.navbar-link.active {
    background-color: #cc7f4e;
    color: #fff;
}

section {
    transition: all 0.2s ease;
    opacity: 0;
    height: 0;
    overflow: hidden;
    width: 100%;
    
}

section.active {
    opacity: 1;
    height: auto;
    min-height: 50%;
}

/*Table*/
.content {
    margin-top: 4em;
}



h1{
    margin-left: 4em;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 4.5em;
    margin-bottom: 7em;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #cc7f4e;
}

th

tr:nth-child(1) td:nth-child(1){
    color: gold;
}

tr:nth-child(2) td:nth-child(1) p{
    background-color: silver;
}

tr:nth-child(3) td:nth-child(1) p{
    background-color: burlywood;
}

#current {
    background-color: #f5b38b;
}

td:nth-child(1), th:nth-child(1) {
    width: 1%;
}
td:nth-child(5), th:nth-child(5),
td:nth-child(6), th:nth-child(6), td:nth-child(7), th:nth-child(7), td:nth-child(8), th:nth-child(8) {
    width: 10%;
}

@media screen and (max-width: 768px) {
    .navbar-select {
        position: relative;
        top: auto;
        right: auto;
        margin: 10px 0;
    }

    .navbar-link {
        width: auto;
        height: auto;
        margin: 0 5px 10px 5px;
    }

    .content{
        margin-top: 0em;
    }

    h1 {
        margin-left: 0;
    }

    table {
        margin-left: 0;
        width: 100%;
    }

    td, th {
        width: auto;
    }


    td:nth-child(5), th:nth-child(5),
    td:nth-child(6), th:nth-child(6),
    td:nth-child(7), th:nth-child(7),
    td:nth-child(8), th:nth-child(8) {
        display: none;
    }
}